/* SignUpPage.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Style the login content (containing the image and form) */
.login-content {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* Style the login image (left side) */
.login-image {
  flex: 1;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 24px;
  width: 600px;
}
.signup-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-messages {
  margin-top: 10px;
  color: #ff3333;
  text-align: center;
}

.error-messages p {
  margin: 5px 0;
}
